/* MADE BY: Josia Orava */
html{
    height: 100%;
    overflow: hidden;
}
body { 
    line-height: 1;
    font-family: "Open Sans",sans-serif;
    color: #fff;   
    background-color: #1d1d1d;
    margin: 0; 
    overflow: auto;
    height: 100%;
}
.parallax{
    background-color: #1d1d1d;
    background-image: url("../images/earth1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 52.5vw;
}


#bodytag{
    padding-left: 1%;
}


#Introduction {
    font-family: Arial;
    font-size: 1.8vw;
    color: #fff;
    text-shadow: 0.1vw 0.1vw rgb(131, 130, 130);
    margin-top: -1vw;
}
div.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 48vw;
    margin-top: -28vw;
    transform: translate(-50%, -50%);
    position: relative; 
    letter-spacing: small;
}
/* Homepage introduction letter coloring */
@keyframes rotate {
    
    100%{
        transform: rotate(360deg);
    }
}
span{
    display: inline-block;
}
.unselectable{
    font-size: 2.6vw;
}
.unselectable h1 span {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;  
    text-shadow: 0.1vw 0.1vw #4b7bff;
}
.unselectable h1 span.animated {
    color: rgb(0, 200, 226);
    animation: rotate 0.7s;
}

/* NAVIGATION BAR */
@media screen and (max-width: 800px) {
    .sidenavClass{
        display: none;
    }
}
#sideNav a:hover{
    color: aqua;
}
.sidenavClass a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(131, 131, 131);
    text-decoration: none;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: block;
}
#about{
    border-top-style: solid;
    border-width: 0.01vw;
    border-color: rgba(255, 255, 255, 0.11);
}
#projects{
    border-top-style: solid;
    border-width: 0.01vw;
    border-color: rgba(255, 255, 255, 0.11);
}
#skills{
    border-top-style: solid;
    border-width: 0.01vw;
    border-bottom-style: solid;
    border-color: rgba(255, 255, 255, 0.11);
}
.sidenavClass {
  height: 100%;
  width: 8vw;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #080808;
  }
#insideNav{
    padding-top: 22vw;    
}
#main{
    padding-left: 3vw;
}


/* ABOUT PAGE */
.aboutPage{
    background-image: url("../images/space2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 52.1vw;
}
#aboutText{
    font-size: 1.2vw;
    position: relative;
    text-align: left;
    margin-top: 5vw;
    margin-left: 8vw;
    margin-right: 50vw;
    font-family: Arial;
    text-shadow: 0.1vw 0.1vw rgba(131, 130, 130, 0.315);
    
}
#aboutText h2{
    font-size: 3vw;
    text-shadow: 0.1vw 0.1vw #4b7bff;
    text-align: left;
    margin-left: 1vw;
}
#portraitPhoto{
    margin-left: 45vw;
    margin-top: -32vw;
    position: relative;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #4b7bff;
}

/* PROJECTS PAGE */
.projectsBg{
    background-image: url("../images/space4.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 52.1vw;
    margin-top: 0.4vw;
}
.projectsPage h2{
    margin-left: 9vw;
    font-size: 3vw;
    text-shadow: 0.1vw 0.1vw #4b7bff;
    margin-top: -45vw;
}
#projectsList li{
    list-style: none;
    margin-left: 10vw;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 10%;
    float:inline-start;
    text-align: center;
    margin-top: 3vw;
    padding: 1vw;
    height: 14vw;
    width: 16vw;
}

#projectsList a{
    font-size: 1.2vw;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
    text-shadow: 0.1vw 0.1vw rgba(131, 130, 130, 0.315)
}
#projectsList a:hover{
    color: turquoise;
}

/* SKILLS PAGE */
.skillsBg{
    background-image: url("../images/space8.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 52.1vw;
    margin-top: 42.5vw;
}
.skillsPage h2{
    margin-left: 9vw;
    font-size: 3vw;
    text-shadow: 0.1vw 0.1vw #4b7bff;
    margin-top: -45vw;
}
#skillsInfo dl{
    list-style: none;
    margin-left: 9vw;
    font-size: 1.5vw;
    font-family: Arial;
    color: #fff;
    text-shadow: 0.1vw 0.1vw rgba(131, 130, 130, 0.315);
    display: flex;
}
#programmingSkills{
    margin-right: 20vw;
    margin-left: 5vw;
}
#frameworkSkills{
    margin-right: 20vw;
}
#skillsInfo dd{
    margin-top: 1.5vw;
}

.scrollContainer{
    scroll-snap-type: y;
    scroll-snap-type: mandatory;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
}
.scrollSnapArea{
    scroll-snap-align: start;
}